body {
    margin: 0;
    padding: 30px;
    font-family: Arial, sans-serif;
    background-color: #321b8d;
    height: 100vh;
}

nav {
    margin: 100px;
    color: #fff;
    margin-top: 50px;
    padding: 3px;
}

.pur {
    background-color: rgb(255, 27, 122);
    border-radius: 20px;
    padding: 9px;
}

nav h1 {
    margin: 0;
    float: left;
}

a:hover {
    color: rgb(146, 146, 146);
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    float: right; 
}

.content-container {
    display: flex;
    align-items: center;
    justify-content: center; 
    width: 100%;
   
}

.content {
    text-align: left;
    padding: 20px;
    width: 45%;
    color: white;
} 

.sign {
    border-radius: 10px;
    background-color: white;
    text-align: center;
    margin-right: 40px;
    padding: 20px; 
    box-sizing: border-box; 
}

input, button {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px; 
    width: 80%; 
}

.acc {
    background-color: #3b0361;
    color: #fff;
    cursor: pointer;
}

button {
    background-color: #007bff;
}

button:hover {
    background-color: #5db6ff;
}

a {
    text-decoration: none;
    color: #007bff;
}

.agreement-text {
    margin-right: 30px;
    color: #333;
}

input[type="checkbox"] {
    width: 15px;
    height: 15px;
}

@media only screen and (max-width: 768px) {
    nav {
        margin: 50px;
    }
    .content {
        width: 80%;
    }
}
